@page
@model Acme.BookStore.Web.Views.Home.AuthorDetailsModel
@{
    Layout = null;
}
@*<abp-modal-body>
    <abp-input asp-for="Author.Name" />
    <abp-input asp-for="Author.BirthDate" />
    <abp-input asp-for="Author.ShortBio" />
</abp-modal-body>*@
@*<h2>fsadfasdfa</h2>*@
 @*<h2>@Model.Author.Name</h2>*@