
@{
    ViewData["Title"] = "Default";
}
<script src="../Pages/Users/jquery.js"></script>

<script>
    function BtnChaXun() {
        console.log($('.StudentName').val());
        $.ajax({
            type: 'post',
            url: '/Home/Default',
            data:
            {
                name: $('.StudentName').val()
            },
        }).done(() => {
            alert("添加成功");
        })
            .fail(() => {

                console.log("失败了");
            });
    }
</script>
<h1>Default</h1>
<form  >
    <input type="text" name="StudentName" class="StudentName" value="" />
    @*<input type="submit" name="BtnInquery" value="查  询" onclick="BtnChaXun()" />*@
    <button name="BtnInquery"  onclick="BtnChaXun()">查询</button>
</form>


